/* styles.css */

.messageBox {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: 'Roboto';
}

.messageBox p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}
